.credential {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.property {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}

.name {
  max-width: 100px;
  width: 20%;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  text-align: left;
}

.value {
  display: block;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  width: 80%;
  max-width: 400px;
}

.credentialValid {
  composes: value;
  background: url('../../ImageAssets/icon_ok.svg') no-repeat;
}

.credentialInvalid {
  composes: value;
  background: url('../../ImageAssets/icon_attention.svg') no-repeat;
}
