::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: #cee8ff;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(62 110 153 / 50%);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(62 110 153 / 50%);
}
