.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;
  flex: 1;
  background:
    url('../../ImageAssets/BottomLeftBubble.svg') no-repeat bottom left / auto 40%,
    url('../../ImageAssets/BottomRightBubble.svg') no-repeat bottom right / auto 40%,
    var(--color-light-blue);
  padding-bottom: 100px;
}

.middleSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    url('../../ImageAssets/CenterLeftBubble.svg') no-repeat bottom left/ auto 20%,
    url('../../ImageAssets/CenterRightBubble.svg') no-repeat bottom right/auto 20%,
    var(--color-silver-blue);
}
