.container {
  position: relative;
  width: 100vw;
  margin: 0.1rem 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(var(--color-dark-grey-rgb) / 50%);
}

.section {
  width: 90%;
  max-width: 766px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}

.infoItem {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2px;
}

.infoItem a {
  color: var(--color-medium-blue);
}
