.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: fit-content;
  width: 100%;
  border-bottom: 1px dotted var(--color-dark-purple);
}

.endpointTypeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.endpoint {
  color: var(--color-dark-purple);
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.endpointUrl {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  max-width: 400px;
  overflow-wrap: break-word;
}

.fetchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 12px;
  border: none;
  line-height: 13px;
  width: 130px;
  height: 22px;
  border-radius: 6px;
  color: white;
  background:
    url('../../ImageAssets/chevron_down_white.svg') no-repeat 90% /
    auto,
    var(--color-medium-blue);
  cursor: pointer;
}

.closeBtn {
  composes: fetchBtn;
  background:
    url('../../ImageAssets/chevron_up_white.svg') no-repeat 90% / auto,
    var(--color-medium-blue);
}

.loader {
  background:
    url('../../ImageAssets/spinning-circles.svg') no-repeat 10%/10%,
    url('../../ImageAssets/chevron_up_white.svg') no-repeat 90% / auto,
    var(--color-medium-blue);
}

.spinner {
  display: absolute;
  height: 15px;
  width: 12px;
  top: 5px;
  left: 5px;
  background: url('../../ImageAssets/spinning-circles.svg') no-repeat left/100%;
}
